/*! 
 * Primitive UI | MIT License
 *
 * A minimalist front-end design toolkit built with Sass for developing 
 * responsive, browser-consistent web apps.
 *
 * Author: Tania Rascia <hello@taniarascia.com>
 * Source: https://github.com/taniarascia/primitive
 * Documentation: https://taniarascia.github.io/primitive
 */
/**/
/* * {
  font-family: 'Montserrat', sans-serif;
  background-color: #52a7c1;
  background-image: linear-gradient(315deg, #52a7c1 0%, #b3f6d8 74%);

} */
* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif; 
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
} 

/******************************************
/* BASE STYLES
/*******************************************/
html{
  margin: 0;
  padding: 0;

}
.container{
  display: grid;

  grid-template-rows: repeat(16, minmax(80px, 15%));
  grid-template-columns: repeat(16, minmax(40px, 10%));

 }
.item1{
  grid-column: 1 / 4;
  grid-row: 1 / 17;
  background-color: rgb(10,100,250);
  margin: -10px 0px 0px -10px;
}
.item2{
   grid-column: 4 / 17;
  grid-row: 1 / 4;
  border-top-style: grey;
}
.dashboard{
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  grid-column: 4 / 32;
  grid-row: 4 / 32;
  background-color: rgb(52, 413, 250);
    border: solid grey 2px;

    
}
#projectHeader{
  /* text-align: left; */
  /* vertical-align: text-top; */
bottom: 600px;
  position: fixed; 
  align-items: center;
  justify-content: center;
  
  color: Black;
  
   /* bottom: 595px;
  left: 275px; */

}
.item3{
  margin: 30px;
  grid-column: 1 / 3;
  grid-row: 1 / 4;
  border: solid grey 2px;
  border-radius: 5px;
    background-color: white;
}

.item5{
  margin: 30px;
grid-column: 1 / 3;
grid-row: 4 / 6;
border: solid grey 2px;
border-radius: 5px;
    background-color: white;
}
  

.item7{
  margin: 30px;
grid-column: 1 / 3;
grid-row: 6 / 8;
border: solid grey 2px;
border-radius: 5px;
    background-color: white;
  
}

.announcements{
  display: grid;
grid-template-columns: subgrid;
grid-template-rows: subgrid;
grid-column: 3 / 4;
grid-row: 1 / 5;

  margin: 20px;
}
#announcements{
  position: relative;
  bottom: 418px;
  left: 12px;
  align-items: center;
  justify-content: center;
    
}
.item9{
margin: 10px;
grid-column: 1 / 3;
grid-row: 1 / 3;
border: solid grey 2px;
border-radius: 5px;
    background-color: white;
  
}
.item10{
margin: 10px;
grid-column: 1 / 3;
grid-row: 3 / 5;
border: solid grey 2px;
border-radius: 5px;
    background-color: white;
  
}
.item11{
margin: 10px;
grid-column: 1 / 3;
grid-row: 5 / 7;
border: solid grey 2px;
border-radius: 5px;
    background-color: white;
  
}
.trending{
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-column: 3 / 4;
  grid-row: 5 / 7;
  position:relative;
  top: 20px
}
#trending{
  position: relative;
  bottom: 407px; 
  left: 28px; 
  align-items: center;
  justify-content: center;
    
}
.item12{
  margin: 10px;
grid-column: 1 / 2;
grid-row: 1 / 3;
border: solid grey 2px;
border-radius: 5px;
    background-color: white;
  
}
.item13{
margin: 10px;
grid-column: 1 / 2;
grid-row: 3 / 5;
border: solid grey 2px;
border-radius: 5px;
    background-color: white;
  
}
.item14{
margin: 10px;
grid-column: 1 / 2;
grid-row: 5 / 7;
border: solid grey 2px;
border-radius: 5px;
    background-color: white;
  

}





















/*  */